html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    min-width: 411px;
}

*{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

h1 {
    color: #000;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

section a {
    font-weight: 600;
    font-size: 12px;
    margin: 0 10px;
    color: black;
}


/* en-tête */

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    background-color: black;  
}

.onglet p, .onglet a{
    color: #cccccc;
    font-size: 14px;
    margin-top: 8px;
    text-align: right;
    font-weight: 400;
}

.english, .langue, .point_vente, .compte {
    margin: 0px 15px 15px 5px;
}

.onglet{
    display: flex;
    flex-direction: row;
    text-align: right;

}

.entete_txt{
    margin: auto;
}

.entete_txt p{
    color: white;
    margin: 0 0 0 0;
    font-size: 13px;
    text-align: center;
    padding-top: 4px;
}

.onglet img {
    width: 20px;
    height: auto;
}

.main_container{
    margin-top: 50px;
}

/* media queries */
@media screen and (min-width: 768px) {
    .entete_txt p{
        text-align: left;
        margin-left: 20px ;
        }

        .entete_txt{
            margin-left: 2px;
        }

        .double_container .main_container{
            margin-top: 50px;
            text-align: center;
            flex: 0 0 49.5%;
        }
        
        .double_container{
            display: flex;
            justify-content: space-between;
            text-align: center;
        }

        .main_end{
            display: flex;
            justify-content: space-between;
        }

        .main_end, .main_container{
            flex: 0 0 33%;
        }

        .double_container .button, 
        .main_end .button {
            /* display: none; */
            opacity: 0;
            color: white;
            transition: background 0.3s;
        }

        .main_container , .main_end{
            position: relative;

        }

        .img{
            overflow: hidden;
            position: relative;
        }

        .main_container .main_link{
            position: absolute;
            top: 40%;
            left: 50%;
             transform: translate(-50%, -50%);
        }

        .main_end .main_container .main_link{
            top: 30%;
        }
    
        .main_container:hover .button{
        opacity: 0;
        color: white !important;
        font-weight: bold;
        } 

        .main_container:hover .img:after{
        content:' ';
        position:absolute;
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.6);
        opacity: 0.5;
        cursor: pointer;
        } 

        .main_container .img{
            -webkit-transition: all 0.5s;
        }

        .main_container:hover .img{
            opacity:0.7;
        }

        .main_soutienGorge_legging .main_container:hover .button,
        .double_container .main_container:hover .button,
        .main_end .main_container:hover .button{
            opacity: 1;
            z-index: 500 !important;
            border: 2px solid white;
            font-weight:600; 
        }  

        .main_container .button:hover{
            background: white;
            color: black !important;
        }

        /* .main_container .img{
        background-color: black;
        z-index: 0;
        } */
        .footer_version_responsive{
            display: none;
        }

        .main_rubrique-txt h2{
            font-size: 50px;
        }

        .button{
            padding: 12px 14px;
        }

        .main_rubrique h3{
            font-size: 28px;
            margin: 0 0 0 0;
        }

        .main_txt h4{
            font-weight: normal;
            font-size: 14px;
            color: #1d1d1d;
            margin: 0 20px 5px 20px;
        }

}

@media screen and (max-width: 768px) {
    .onglet{ 
        display: none;}

    .footer_version_desktop{
        display: none;

    }

    .main_rubrique h2 {
        font-size: 30px;
    }

    .main_rubrique h3{
        font-size: 20px;
        margin: 0 0 5 0;
    }

    .button{
            padding: 7px 10px;
    }

    .main_txt h4{
        font-weight: normal;
        font-size: 14px;
        color: #1d1d1d;
        margin: 0 70px 5px 70px;
    }
}

/* LANGUES */

.langue{
    position: relative;
}

.langue_list li{
    text-align: left;
}

.langue_list{
    background: white;
    padding: 5px;
    position: fixed;
    z-index: 100;
    right: 150px;
    margin-bottom: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.langue_list p a img {
    margin-right: 8px;
}

.langue_list p a{
    color: black;
    font-size: 14px;
    font-weight: 400;
    display: flex;
}

.langue_list p a:hover{
    color: red;
    opacity: 0.9;
    transition: 0.3s;
}

.voir_tous p a{
    font-weight:600;
    text-align: center;
    border-top: 1px solid #f0f0f0;
    padding: 5px 5px 0;
}

/* corps du texte*/
.main {
    max-width: 1600px; 
    margin: 0 auto;
    position: relative;
}

.main_imagehead{
    margin-top: 60px;
    position: relative;
}
.main_image{
    width: 100%;
    margin-top: 60px;
    height: 250px;
}

.image_vente {
    height: 400px;
    background: url(../images/SS21_NewArrivals_Site_MB.webp);
    background-size: cover;
}

.image_nouveaute {
    height: 400px;
    background: url(../images/SS21_Run_Packable_Jacket_OldSite_BKT_M.webp);
    background-size: cover;
}

.image_soutien-gorge{
    height: 400px;
    background: url(../images/SS21_Q1_CrossbackBra_EMEA_Site_MB.webp);
    background-size: cover;
}

.image_legging{
    height: 400px;
    background: url(../images/SS21_Q1_Non-Slip-Waistband_EMEA_Site_MB.webp);
    background-size: cover;
}

.main_txt{
    text-align: center;
    margin-top: 40px;
}

.main_txt-head{
    text-align: center;
}

.main_txt-head h3{
    font-size: 28px;
    margin: 0 0 0 0;
}

.main_txt-head h4{
    font-size: 20px;
    font-weight: 400;
    color: #1d1d1d;
}

.main_link {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    border: 2px solid #1d1d1d;   
    border-radius: 5px; 
    align-items: center;
    margin: 3px;
    cursor: pointer; 
}

.main_rubrique { 
    margin-top: 120x;
    text-align: center;
}

.main_rubrique h2 {
    margin: 0 0 10px 0;
}

.main_rubrique h3 {
    margin-top: 100px;
    font-weight: 400;
    color: #1d1d1d;
}

.main_txt h3{
    margin-top: 0;
    font-weight: 900;
    font-size: 14px;
}

.main_txt p{
    font-size: 8px;
}

.link_vente a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
    margin: 0 5px;
    margin-bottom: 10px;
}


.image_nouveaute {
    height: 400px;
    background: url(../images/SS21_Run_Packable_Jacket_OldSite_BKT_M.webp);
    background-size: cover;
}
.openCookie { 
    cursor: pointer;
}

/* Cookie Page */ 
.hide{
    display: none;
}

.show{
    display:block;
}
.footer_cookie { 
    height: 731px;
    width: 522px;
    position: fixed;
    top: 53%;
    left: 50%;
    transform:translate(-50%, -50%);
    border:solid black 1px;
    background-color: white;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
     z-index:100;   
}
.footer_cookie_parent {
    height: 731px;
    width: 522px;  
    
}

.footer_cookie h1 { font-weight: normal;
    font-size: 14px;
    font-weight:600;
}

.footer_cookie p { 
    color: grey;
    font-size: 8px;
}
    

.footer_logoCookie { 
    text-align: center;
    border-bottom: solid grey 1px;
}

.footer_cookie_element1,
.footer_cookie_element2,
.footer_cookie_element3  { 
    border: solid grey 1px;
    padding: 10px;
    margin: 10px;
    width: 480px;
    background:#fcfcfc;
    font-size: 14px;
   }
   
.footer_btnAnnuler{ 
    text-align:center;
    border: solid black 1px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    margin-top: 20px;
    margin-bottom:12px;
    cursor: pointer;
    }

.footer_btnPreference{ 
    text-align:center;
    border: solid black 1px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    color: white;
    background-color: black;
    cursor: pointer;
}
   
.footer_btnCookie{
    display: flex; 
}
    
.btn_Refuser{ 
    border: solid grey 1px;
    padding: 4px;
    margin-left: 170px;
    cursor: pointer;
}

.btn_Accepter{
    border: solid grey 1px;
    padding: 4px;
    cursor: pointer;
}

.footer_CookieBase p{
    color: blue;
    text-align: center;
    margin-bottom: 30px;
    font-size: 12px;
    cursor: pointer;
}
    
.popclose {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 97%;
    margin-top: -6%;
    cursor: pointer;  
}

.spiner{
    height: 100px;
    width: 100px;
    background-color: #fff;
    position: absolute;
    top: 50%; left: 40%;
    transform: translate(50%, 50%,)
}
    
.img_spiner {  
    height: 100px;
    width: 100px;
}




    /* Footer Desktop */

.titre_footer{ 
    display: flex;
    justify-content: center;
}
.titre_footer section {
    justify-content: space-around;
    margin-left: 50px;
    font-size: 12px;
}
#footer_dcontact p { 
    margin-bottom:22px;
    cursor: pointer;
}

.footer_content_desktop { 
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 140px;
}

.footer_input_desktop { 
    display: flex;
    height: 44px;
    width: 200px;
}

.footer_content_desktop input { 
    font-size: 13px;
    height: 44px;
    width:144px;
    margin-right: 10px;  
    margin-left: 10px;
}
    
::placeholder{
    color: rgb(224, 192, 192) !important;
    font-weight: 400;
}


.logo_footer_desktop { 
    margin-left: 130px;
    margin-top: 25px;
}


.footer_vente_commande {
    margin-left: 70px;
}

.titre_footer section ul{
    margin-bottom: 10px;
    cursor: pointer;
}

.titre_footer section ul:hover { 
    margin-bottom: 10px;
    color: red;
}

.titre_footer section h3:hover{
    color:red
}
#footer_dcondition {
    font-size: 13px;
    margin-left: 20px;
    
}

#boutonMailDesktop { 
    height: 44px;
    width: 150px;
    border-radius: 5px;
    margin-right: 10px;
}

#boutonWhere{ 
height:18px;
width:18px;
}

#boutonCarre{
    height:18px;
    width:18px;
}

/* footer */
footer { 
    background:linear-gradient(to bottom,rgba(195,195,195,0) 65%,rgba(195,195,195,.65) 100%) #f0f0f0;
    margin-top: 100px;
    padding-bottom: 30px;
    border-top: 5px solid #1d1d1d;
    clear: both;
    color: #1d1d1d;
    min-height: 200px;
    width: auto;   
}

/* footer responsive */

.footer_version_respnsive{
    display: none;
}

.footer_link {
    margin-top: 30px;
}
.footer_link a{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    font-weight: 300;
    color: #5a5a5a;
    font-family:Arial,sans-serif;
}
.footer_link a:hover{
    color: red;
}
.footer_content { 
   margin-top: 40px;
    margin-left: 20px;
    padding: 0px; 
    font-size: 13px;
}
#boutonMail { 
    height: 44px;
    width: 100px;
    border-radius: 5px;
    margin-right: 10px;
     }
    
.footer_content input { 
   font-size: 13px;
   flex: 1 0 60%;
   margin-right: 10px;  
}

.footer_input { 
    display: flex;
    justify-content: center;
}
::placeholder{
    color: black !important;
   font-weight: 400;
}

#logo_bas { 
height: 50px;
width: 50px;
display: block;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
}

.footer_txt_logo { 
    font-size: 10px;
    text-align: center;
}

.footer_copyright {
    font-size: 12px;
    text-align: center;

}

.footer_link2 a{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    color: black;
    font-family:Arial,sans-serif;
    font-weight: 300;
}
.footer_link2 a:hover{
    color:red
}

.image_nouveaute {
background: url(../images/SS21_Run_Packable_Jacket_OldSite_BKT_M.webp);
background-size: cover;
}
.openCookie { 
cursor: pointer;
}

